{% extends 'base.html' %}
{% block title %}
Login Page
{% endblock %}

{% block content %}
<body class="text-center">
<div class="container">
    <form method="POST" class="form-signin" style="color:white">
        {{ form.hidden_tag() }}
        <img class="mb-10"
             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDq9Z3EYKnsQg27Z_hvLl8_-ChxHGX2aC-yeWC5nchS5PbT-DO_8CEhFC5usMqMAw0-x4&usqp=CAU"
             alt="">
        <h1 class="h3 mb-3 font-weight-normal">
            Please Login
        </h1>
        <br>
        {{ form.username.label() }}
        {{ form.username(class="form-control", placeholder="User Name") }}

        {{ form.password.label() }}
        {{ form.password(class="form-control", placeholder="Password") }}

        <br>


        <div class="checkbox mb-3">
            <h6>Doesn't have an account?</h6>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
        </div>

        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

    </form>
</div>
</body>
{% endblock %}